body {
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    background: url('../src/img/backgroundLandingPage.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.button {
    background: #F6E05E;
    padding: 1.2rem 2.5rem;
    font-size: 1.5rem;
    color: #1A365D;
    border: none;
    border-radius: 30px;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    transition: transform 0.3s ease, background 0.3s ease;
}

.button:hover {
    transform: scale(1.1);
    background: #ECC94B;
}